<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @timesheet.user_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @timesheet.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @timesheet.end_time %>
</p>

<p>
  <strong>Hours worked:</strong>
  <%= @timesheet.hours_worked %>
</p>

<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
